// color
$text-color1: red;
$text-color2: blue;
$text-color3: white;

$color-text-main:#000;
$font-default:#000;
$color-text-link: #000;

// font
$font-default: "Noto Sans JP", "游ゴシック", "Yu Gothic", "游ゴシック体", YuGothic, sans-serif; //projectによって変更
